body{
    background-color: black;
    color:white;
    text-align:center;
    display: flex;
    justify-content: center;

}
header{
    color:blue;
    margin: 50px;
}
p{
    margin-bottom: 6%;
}
.perfis{
    display:flex;
    justify-content: space-between;
    max-width:700px;
}
img{
    border-radius: 10%;
}
#perfil1{
    width: 160px;
    display: flex;
    flex-direction: column;
}
#perfil1 :hover{
   border:white solid 2px;
}
#perfil2{
    width: 160px;
    display: flex;
    flex-direction: column;
}
#perfil2 :hover{
    border:white solid 2px;
 }
#perfil3{
    width: 160px;
    display: flex;
    flex-direction: column;
}
#perfil3 :hover{
    border:white solid 2px;
 }
#perfil4{
    width: 160px;
    display: flex;
    flex-direction: column;
}
#perfil4 :hover{
    border:white solid 2px;
 }
#botao{
    background-color: black;
    color:white;
    border: solid;
    border-radius: 10%;
    width:25%;
    height:40px;
    margin:15%;
}
#botao:hover{
    background-color:white;
    color:black;
 }